apiVersion: v1
kind: Config
clusters:
  - name: ${cluster_name}
    cluster:
      server: ${server}
      certificate-authority-data: ${ca_certificate_b64}
contexts:
  - name: ${context_name}
    context:
      cluster: ${cluster_name}
      user: ${user_name}
current-context: ${context_name}
users:
  - name: ${user_name}
    user:
      client-certificate-data: ${client_certificate_b64}
      client-key-data: ${client_key_b64}
